<div class="slide-content">
  <h1>{{ section.settings.section_title }}</h1>
</div>
<div class="slick">
  {%- for block in section.blocks -%}
    <div class="slick-slide">
      {%- if block.settings.image != blank -%}
        <img src="{{ block.settings.image | img_url: '2049x' }}" width="60%" loading="lazy">
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>
<script type="text/javascript">
  $('.slick').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    dots: true,
  });
</script>
{% schema %}
{
  "name": "スライダーsample",
  "class": "slide-wrap",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "default": "見出しが入ります。",
      "label": "見出し"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "画像スライド",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        }
      ]
    }
  ]
}
{% endschema %}
